.animated-icon1 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer
}

.animated-icon1 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out
}

.animated-icon1 span {
	background: #fff
}

.animated-icon1 span:nth-child(1) {
	top: 0
}

.animated-icon1 span:nth-child(2) {
	top: 10px
}

.animated-icon1 span:nth-child(3) {
	top: 20px
}

.animated-icon1.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg)
}

.animated-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px
}

.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

body {
	font-family: Montserrat, sans-serif;
	font-size: 14px
}

.my-4 {
	margin-bottom: 1rem!important;
	margin-top: 1rem!important
}

.h5,
h5 {
	font-size: 1.25rem
}

.h3,
h3 {
	font-size: 1.5rem
}

h6.contactFormDetails {
	text-align: start
}

.h4,
h4 {
	font-size: 1.25rem
}

hr {
	border-top: 2px solid #000
}

hr.my-4.hr-bar {
	border-top: 2px solid #fff
}

i.fas.fa-chevron-circle-up {
	font-size: -webkit-xxx-large
}

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	text-decoration: none;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, .9);
	color: #fff;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	box-sizing: border-box
}

section.faq_details {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 30px
}

button.btn.btn-link,
button.btn.btn-link.collapsed {
	color: #000;
	font-weight: 700;
	text-decoration: none
}

button#faq_question_4 {
	text-align: start
}

button#faq_q1 {
	text-align: start
}

.sidebar-contact {
	position: fixed;
	top: 56%;
	right: -350px;
	transform: translateY(-50%);
	width: 350px;
	height: auto;
	padding: 40px;
	background: #fff;
	box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
	box-sizing: border-box;
	transition: .5s
}

.sidebar-contact.active {
	right: 0
}

.sidebar-contact input,
.sidebar-contact textarea {
	width: 100%;
	height: 36px;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, .5);
	outline: 0
}

.sidebar-contact h2 {
	margin: 0 0 20px;
	padding: 0
}

.sidebar-contact textarea {
	height: 60px;
	resize: none
}

.sidebar-contact input[type=submit] {
	background: #00bcd4;
	color: #fff;
	cursor: pointer;
	border: none;
	font-size: 18px
}

.toggle {
	position: absolute;
	height: 48px;
	width: 48px;
	text-align: center;
	cursor: pointer;
	background: red;
	top: 0;
	left: -48px;
	line-height: 48px
}

.toggle:before {
	content: "\2717";
	font-weight: 700;
	font-size: 35px;
	color: #fff
}

.toggle.active:before {
	content: "\2709";
	font-weight: 700;
	font-size: 35px;
	color: #fff
}

section.contact_details {
	background-color: midnightblue;
	padding-top: 15px;
	padding-bottom: 1px
}

span.gap {
	padding-left: 25px
}

a.nav-link {
	margin-right: 10px
}

nav.navbar.navbar-expand-lg.navbar-light {
	background-color: lightseagreen;
	font-weight: 700
}

.navbar-light .navbar-nav .nav-link {
	color: #fff
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: black;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #fff
}

button.btn.btn-primary {
	border-radius: 20px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 700;
	background-color: #000;
	border-color: #fff
}

.headerClass {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

h5 {
	display: inline;
	font-weight: 700;
	margin-right: 20px
}

h4.headingHeader {
	font-weight: 700
}

button.btn.btn-dark {
	border-radius: 20px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 700
}

section.whyChooseUs {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

.col-md-6.why-us-desc {
	padding-right: 125px
}

h3.heading {
	font-weight: 700;
	color: #000
}

h4.whyChooseUsText {
	font-weight: 700;
	color: #000
}

p.descriptionText {
	color: #000;
	text-align: start
}

ul.features {
	font-weight: 700;
	color: #000;
	text-align: left
}

ul.lead.features {
	padding-inline-start: 0!important
}

ul.features-desc {
	text-align: left;
	color: #000;
	list-style-type: none;
	padding-inline-start: 0!important
}

section.whatWeProvide {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

.card-deck {
	justify-content: center
}

p.card-text {
	margin-top: 14px
}

a.btn.btn-dark.logoinfo,
a.btn.btn-dark.wd {
	margin-top: 42px
}

a.btn.btn-dark {
	border-radius: 20px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 700;
	color: #fff
}

.card.border-success.mb-3 {
	max-width: 25rem;
	border-radius: 25px
}

.card-header.border-success {
	text-align: center;
	background-color: firebrick;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	color: #f8f8ff;
	font-weight: 700
}

.text-success {
	color: #000!important
}

.border-success {
	border-color: #003371!important
}

section.our_methodology {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 30px
}

section.web-solutions {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

.col-md-6.web-sol-desc {
	padding-right: 125px
}

.col-md-6.logo-info-desc {
	padding-left: 125px
}

img#web_development {
	height: 450px;
	width: auto
}

p.descriptionTextws {
	color: #000;
	text-align: start
}

p.descriptionTextLogoInfo,
p.descriptionTextLogoInfo.para {
	padding-left: 50px;
	text-align: start
}

ul.features-desc.logoInfo,
ul.lead.features.logoInfo {
	margin-left: 50px
}

span.button-text {
	padding-left: 25px
}

span.tick_mark {
	color: green;
	font-size: 20px
}

section.logo-infographics {
background-color:
	padding-top: 15px;
	padding-bottom: 15px
}

img#logo_infographics {
	height: 450px;
	width: 675px
}

section.digital-marketing-solns {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

img#dm-img {
	height: 600px;
	width: 565px
}

p.descriptionTextdm {
	color: #000;
	text-align: start
}

section.basic_plan_details {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

h3.text-center.heading.headertext,
h4.text-center.heading.headertext,
ul.list-unstyled.mt-3.mb-4.headertext {
	color: #000
}

h4.text-center.heading.headertext {
	font-weight: 700
}

hr.my-4.horizontalbar {
	border-top: 2px solid #000
}

span.tick_mark_basic {
	color: #000
}

section.payment_info {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

section.plan_details {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

.card.plan-details.mb-3 {
	max-width: 32rem;
	border-radius: 15px
}

.card-header.plan-details-header {
	text-align: center;
	background-color: firebrick;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: #f8f8ff;
	font-weight: 700
}

.card-body.text-plan-deatils {
	color: #000
}

ul.list-unstyled.mt-3.mb-4 {
	text-align: start
}

section.contact_details_desc {
	background-color: whitesmoke;
	padding-top: 15px;
	padding-bottom: 15px
}

ul.features-desc.lead {
	font-size: 1rem
}

span.opening_hours {
	color: #8b0000;
	font-weight: 700
}

span.imp_field {
	color: red
}

label.field_name {
	font-weight: 700
}

.card-header.contact-card-header {
	background-color: darkgreen;
}

h5.contact-header {
	color: #fff
}

div#count {
	text-align: end;
	font-size: smaller;
	font-weight: 700
}

p.help-block>ul {
	list-style: none;
	color: red;
	padding-left: 0
}

p.help-block>ul>li {
	font-size: small;
	font-weight: 700
}

.card-body.contact-card-body {
	background-color: whitesmoke;
}

h3.contact-details-headers {
	font-weight: 700
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 50%;
	position: relative;
	height: 0
}

input[type=checkbox] {
	top: -.15rem!important;
	height: 1rem!important;
	width: 1rem!important
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute
}

p.lead.contactUsContent {
	font-size: 1rem;
	text-align: justify
}

.ml-3,
.mx-3 {
	margin-left: 4rem!important
}

h4.heading,
p.footer-text {
	color: #fff
}

footer.py-3 {
	background-color: black;
}

i.fab.fa-facebook-f.fa-lg.white-text.mr-md-5.mr-3.ml-3.fa-2x,
i.fab.fa-linkedin-in.fa-lg.white-text.mr-md-5.mr-3.fa-2x,
i.fab.fa-quora.fa-lg.white-text.mr-md-5.mr-3.fa-2x {
	color: #fff
}


section.header-desc-bar {
    background-color: #e8e8e866;
}
.header-desc.container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-desc.row {
    text-align: center;
}
h3.desc-title {
    font-weight: bolder;
}
.header-desc.details {
    text-align: center;
}
h5.desc-details {
    font-weight: 500;
}
hr.my-2 {
    background-color: black;
}
.get-quotes, .free-plan {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
button.btn.btn-primary.btn-sm {
    border-radius: 2.2rem;
    padding: 0.25rem 1rem;
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}