
/** ---------- Media Queries ---------- **/

/** For larger screens --> Full HD (Laptops/Desktops) **/
@media only screen and (min-width: 1367px) {
    br.contactdetailsbreak {
        display: none;
    }
}

/** For HD Screens --> (Laptops/Desktops) **/
@media only screen and (min-width: 992px) and (max-width: 1366px) {

    body {
        font-size: 12px;
    }

    h5.headingHeader {
        line-height: 1;
        font-size: 0.95rem;
    }

    h3.text-center.heading {
        font-size: 1rem;
        line-height: 1;
    }

    .sidebar-contact.active {
        padding: 15px;
        top: 46%;
        width: 285px;
    }

    .sidebar-contact{
        top: 50%;
    }

    .control-group.form-group {
        width: 6cm;
    }

    textarea#message {
        width: 13cm;
    }

    p.lead, ul.features-desc.lead, h6.contactFormDetails, h3.text-center.heading {
        font-size: 0.85rem;
    }

    .lead, h5.card-title, h4.text-center.heading.headertext, h5.contact-header, h4.whyChooseUsText {
        font-size: 1rem;
    }

    button#sendMessageButton {
        font-size: 0.85rem;
        line-height: 1;
    }

    .form-control {
        height: calc(1em + 1rem + 0px);
        font-size: 0.85rem;
    }

    button.btn.btn-link.collapsed, button.btn.btn-link {
        font-size: 0.85rem !important;
        line-height: 0 !important;
    }

    .card-header.border-success.lead {
        font-size: 1rem;
    }

    .card-header.border-success.lead.group-divs.dm,
    .card-header.border-success.lead.group-divs.logoinfo {
        padding-top: 14px;
        height: 50px;
        font-size: 1rem;
    }

    a.btn.btn-dark.dm {
        margin-top: 6px;    
    }

    a.btn.btn-dark {
        padding: 0.375rem 0.75rem;
        font-size: 0.75rem;
        line-height: 1;
    }

    nav.navbar.navbar-expand-lg.navbar-light.sticky-top {
        padding: 0rem 2rem;
    }

    .col-md-12.col-lg-4.col-xl-3.addressdetails {
        padding-left: 0px;
    }
    
    br.contactdetailsbreak {
        display: none;
    }
    
    .card-header.border-success.lead.group-divs {
        padding-top: 25px;
        height: 85px;
    }
    
    br.contactdetailsbreak {
        display: none;
    }
    
}

/** For Tablets and Medium Devices (Ipad Pro / Ipad etc.) **/
@media only screen and (min-width: 767px) and (max-width: 1024px) {

    h4.whyChooseUsText {
        margin-top: -30px;
    }

    .card-header.border-success.lead.group-divs.dm,
    .card-header.border-success.lead.group-divs.logoinfo {
        padding-top: 14px;
        height: 50px;
    }

    p.descriptionTextws, p.descriptionTextdm {
        margin-top: -40px;
    }
    
    br.contactdetailsbreak {
        display: none;
    }    
    .col-lg-6.text-center.why-us-desc,
    img#logo_infographics {
        padding-top: 25px;
    }
    
    .col-md-12.col-lg-6.web-sol-desc,
    .col-md-12.col-lg-6.digital-mark-desc {
        padding-top: 30px;
    }
    
    img#web_development {
        height: 375px;
    }
    
    .sidebar-contact.active {
        top: 38%;
        width: 275px;
    }
    
    .control-group.form-group {
        width: 5cm;
    }

    textarea#message {
        width: 10.5cm;
    }

    .sidebar-contact {
        top: 41%;
    }
    
    p.descriptionTextws {
        text-align: justify;
    }

}

/** For Mobile Devices (Iphone SE) **/
@media only screen and (max-height: 412px) { 
        
    .sidebar-contact.active,
    .sidebar-contact {
        display: none;
    }

}


/** For Mobile Devices (IPhone X/XR/8/7, Nexus 5 plus) **/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    a.btn.btn-dark.headingHeader {
        font-size: 0.85rem;
        line-height: 1.25;
    }
    
    h4.whyChooseUsText {
        margin-top: 0px;
    }

    h3.text-center.heading {
        font-size: 1.25rem;
    }

    .card-header.border-success.lead {
        font-size: 16px;
    }

    .card-header.border-success.lead.group-divs.dm {
        padding-top: 25px;
    }

    a.btn.btn-dark.wd {
        margin-top: 64px;
    }

    .card-header.plan-details-header.dm {
        height: 67px;
        padding-top: 23px;
    }

    textarea#message {
        width: 17cm;
    }

    .control-group.form-group {
        width: 8cm;
    }

    .col-lg-6.nextFeatureDesc {
        margin-top: -40px;
    }

    a.btn.btn-dark.logoinfo {
        margin-top: 84px;
    }

    .card-header.border-success.lead.group-divs.dm,
    .card-header.border-success.lead.group-divs.logoinfo {
        height: 74px;
    }

    .col-lg-6.text-center.why-us-desc {
        padding-top: 25px;
    }
    
    button.btn.btn-link.faqquestion.collapsed,
    button.btn.btn-link.faqquestion,
    button.btn.btn-link.collapsed, button.btn.btn-link {
        text-align: start;
    }
    
    h5.headingHeader, h5.headingtext {
        font-size: 15px;
    }
    
    .col-md-12.col-lg-6.web-sol-desc,
    .col-md-12.col-lg-6.digital-mark-desc {
        padding-top: 30px;
    }
    
    img#web_development {
        height: 225px;
    }
    
    img#logo_infographics {
        height: 300px;
    }
    
    img#dm-img {
        height: 375px;
    }
    
    .sidebar-contact.active,
    .sidebar-contact {
        display: none;
    }
}

/** For Mobile Devices (Galaxy Phones/Android Phones) **/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    
    .sidebar-contact.active,
    .sidebar-contact {
        display: none;
    }
    
    h5.headingtext {
        font-size: medium;
        padding-left: 10px;
    }
    
    div#headerContent {
        font-size: smaller;
        padding-left: 19px;
    }
    
    .col-lg-6.text-center.why-us-desc {
        padding-top: 15px;
    }
    
    button.btn.btn-link.collapsed,
    button.btn.btn-link {
        text-align: start;
    }
    
    img#web_development {
        height: 250px;
    }
    
    p.descriptionText {
        padding-top: 0px;
        text-align: justify;
    }
    p.descriptionTextws,
    p.descriptionTextdm {
        padding-top: 30px;
        text-align: justify;
    }
    
    p.descriptionText.para {
        padding-top: 0px;
        text-align: start;
    }
    
    a.btn.btn-dark {
        padding-left: 22px;
    }
    
    img#logo_infographics {
        height: 300px;
    }
    
    img#dm-img {
        height: 350px;
    }
    
    span.button-text {
        padding-left: 0px;
    }
    
    h5.contact-header {
        font-size: medium;
    }
}
