@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

body {
	font-family: Montserrat, sans-serif;
	font-size: 14px
}

@media only screen and (min-width:1367px) {
	br.contactdetailsbreak {
		display: none
	}
	.headerBar.hiddenBar {
		display: none
	}
	br.hiddenbreak {
		display: none
	}
}

@media only screen and (min-width:992px) and (max-width:1366px) {
	.headerBar.hiddenBar {
		display: none
	}
	body {
		font-size: 12px
	}
	br.hiddenbreak {
		display: none
	}
	h5.headingHeader {
		line-height: 1;
		font-size: .95rem
	}
	h3.text-center.heading {
		font-size: 1rem;
		line-height: 1
	}
	.sidebar-contact.active {
		padding: 15px;
		top: 46%;
		width: 285px
	}
	.sidebar-contact {
		top: 50%
	}
	.control-group.form-group {
		width: 6cm
	}
	textarea#message {
		width: 6cm
	}
	h3.text-center.heading,
	h6.contactFormDetails,
	p.lead,
	ul.features-desc.lead {
		font-size: .85rem
	}
	.lead,
	h4.text-center.heading.headertext,
	h4.whyChooseUsText,
	h5.card-title,
	h5.contact-header {
		font-size: 1rem
	}
	button#sendMessageButton {
		font-size: .85rem;
		line-height: 1
	}
	.form-control {
		height: calc(1em + 1rem + 0px);
		font-size: .85rem
	}
	button.btn.btn-link,
	button.btn.btn-link.collapsed {
		font-size: .85rem!important;
		line-height: 0!important
	}
	.card-header.border-success.lead {
		font-size: 1rem
	}
	.card-header.border-success.lead.group-divs.dm,
	.card-header.border-success.lead.group-divs.logoinfo {
		padding-top: 14px;
		height: 50px;
		font-size: 1rem
	}
	a.btn.btn-dark.dm {
		margin-top: 6px
	}
	a.btn.btn-dark {
		padding: .375rem .75rem;
		font-size: .75rem;
		line-height: 1
	}
	nav.navbar.navbar-expand-lg.navbar-light.sticky-top {
		padding: 0 2rem
	}
	.col-md-12.col-lg-4.col-xl-3.addressdetails {
		padding-left: 0
	}
	br.contactdetailsbreak {
		display: none
	}
	.card-header.border-success.lead.group-divs {
		padding-top: 25px;
		height: 85px
	}
	br.contactdetailsbreak {
		display: none
	}
}

@media only screen and (min-width:769px) and (max-width:849px) {
	h5.headingHeader {
		font-size: 1rem
	}
	br.hiddenbreak {
		display: none
	}
	h4.whyChooseUsText {
		margin-top: 15px
	}
	a.btn.btn-dark.headingHeader {
		line-height: 1;
		font-size: .85rem
	}
	a.btn.btn-dark {
		padding-left: 15px;
		padding-right: 15px
	}
	h3.text-center.heading {
		font-size: 1.25rem
	}
	.card-header.border-success.lead {
		font-size: 1rem
	}
	.card-header.border-success.lead.group-divs.dm {
		padding-top: 29px;
		height: 73px
	}
	.card-header.border-success.lead.group-divs.logoinfo {
		padding-top: 29px;
		height: 73px
	}
	a.btn.btn-dark.logoinfo,
	a.btn.btn-dark.wd {
		margin-top: 63px
	}
	p.descriptionTextws {
		margin-top: 25px
	}
	p.descriptionTextdm {
		margin-top: 20px
	}
	.col-lg-6.nextFeatureDesc {
		margin-top: -40px
	}
	.card-header.plan-details-header.dm {
		height: 67px;
		padding-top: 25px
	}
}

@media only screen and (min-width:850px) and (max-width:1024px) {
	br.hiddenbreak {
		display: none
	}
	h4.whyChooseUsText {
		margin-top: -30px
	}
	.card-header.border-success.lead.group-divs.dm,
	.card-header.border-success.lead.group-divs.logoinfo {
		padding-top: 14px;
		height: 50px
	}
	p.descriptionTextdm,
	p.descriptionTextws {
		margin-top: -40px
	}
	br.contactdetailsbreak {
		display: none
	}
	.col-lg-6.text-center.why-us-desc,
	img#logo_infographics {
		padding-top: 25px
	}
	.col-md-12.col-lg-6.digital-mark-desc,
	.col-md-12.col-lg-6.web-sol-desc {
		padding-top: 30px
	}
	img#web_development {
		height: 375px
	}
	.sidebar-contact {
		padding: 15px
	}
	.sidebar-contact.active {
		top: 41%;
		width: 275px
	}
	.control-group.form-group {
		width: 5cm
	}
	textarea#message {
		width: 10.5cm
	}
	.sidebar-contact {
		top: 41%
	}
	p.descriptionTextws {
		text-align: justify
	}
}

@media only screen and (max-height:412px) {
	.headerBar.openBar {
		display: none
	}
	.sidebar-contact,
	.sidebar-contact.active {
		display: none
	}
}

@media only screen and (min-width:481px) and (max-width:768px) {
	.headerBar.hiddenBar {
		display: none
	}
	p.descriptionTextdm,
	p.descriptionTextws {
		margin-top: -11px
	}
	a.btn.btn-dark.headingHeader {
		font-size: .85rem;
		line-height: 1.25
	}
	h4.whyChooseUsText {
		margin-top: 0
	}
	h3.text-center.heading {
		font-size: 1.25rem
	}
	.card-header.border-success.lead {
		font-size: 16px
	}
	.card-header.border-success.lead.group-divs.dm {
		padding-top: 25px
	}
	a.btn.btn-dark.wd {
		margin-top: 64px
	}
	.card-header.plan-details-header.dm {
		height: 67px;
		padding-top: 23px
	}
	textarea#message {
		width: 17cm
	}
	.control-group.form-group {
		width: 8cm
	}
	.col-lg-6.nextFeatureDesc {
		margin-top: -40px
	}
	a.btn.btn-dark.logoinfo {
		margin-top: 84px
	}
	.card-header.border-success.lead.group-divs.dm,
	.card-header.border-success.lead.group-divs.logoinfo {
		height: 74px
	}
	.col-lg-6.text-center.why-us-desc {
		padding-top: 25px
	}
	button.btn.btn-link,
	button.btn.btn-link.collapsed,
	button.btn.btn-link.faqquestion,
	button.btn.btn-link.faqquestion.collapsed {
		text-align: start
	}
	h5.headingHeader,
	h5.headingtext {
		font-size: 15px
	}
	.col-md-12.col-lg-6.digital-mark-desc,
	.col-md-12.col-lg-6.web-sol-desc {
		padding-top: 30px
	}
	img#web_development {
		height: 225px
	}
	img#logo_infographics {
		height: 300px
	}
	img#dm-img {
		height: 375px
	}
	.sidebar-contact,
	.sidebar-contact.active {
		display: none
	}
	.col-lg-6.col-md-12.col-sm-12.mapclass {
		margin-top: 25px
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.headerBar.openBar {
		display: none
	}
	.card-header.border-success.lead,
	h3.text-center.heading,
	h4.text-center.heading.headertext,
	h4.whyChooseUsText,
	h5.card-title,
	ul.lead.features {
		font-size: 1rem
	}
	.col-lg-6.nextFeatureDesc {
		margin-top: -38px
	}
	ul.list-unstyled.mt-3.mb-4,
	ul.list-unstyled.mt-3.mb-4.headertext {
		font-size: .75rem
	}
	button.btn.btn-link,
	button.btn.btn-link.collapsed {
		font-size: .85rem;
		line-height: 1.25
	}
	p.descriptionTextLogoInfo {
		padding-left: 0;
		text-align: justify
	}
	p.descriptionTextLogoInfo.para {
		padding-left: 0
	}
	ul.features-desc.logoInfo,
	ul.lead.features.logoInfo {
		margin-left: 0
	}
	h5.headingHeader {
		font-size: 1rem
	}
	.sidebar-contact,
	.sidebar-contact.active {
		display: none
	}
	h5.headingtext {
		font-size: medium;
		padding-left: 10px
	}
	div#headerContent {
		font-size: smaller;
		padding-left: 19px
	}
	.col-lg-6.text-center.why-us-desc {
		padding-top: 15px
	}
	button.btn.btn-link,
	button.btn.btn-link.collapsed {
		text-align: start
	}
	img#web_development {
		height: 250px
	}
	p.descriptionText {
		padding-top: 0;
		text-align: justify
	}
	p.descriptionTextdm,
	p.descriptionTextws {
		padding-top: 30px;
		text-align: justify
	}
	p.descriptionText.para {
		padding-top: 0;
		text-align: start
	}
	a.btn.btn-dark {
		padding-left: 15px;
		padding-right: 15px;
		line-height: 1;
		font-size: .85rem
	}
	img#logo_infographics {
		height: 300px
	}
	img#dm-img {
		height: 350px
	}
	span.button-text {
		padding-left: 0
	}
	h5.contact-header {
		font-size: medium
	}
	.col-lg-6.col-md-12.col-sm-12.mapclass {
		margin-top: 25px
	}
	ul.features-desc.lead {
		font-size: .85rem
	}
	h6.contactFormDetails {
		font-size: .85rem
	}
}